* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  padding: 0rem 1.625rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

h3,
h4 {
  color: hsl(223, 47%, 23%);
}

h4 {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.25rem;
}

h4, p {
  text-align: center;
}

p {
  color: hsl(224, 23%, 55%);
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
}

img {
  display: block;
}

button {
  font-family: inherit;
}

.order-summary-card {
  max-width: 28.125rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(56, 41, 224, 0.25);
  -webkit-box-shadow: 0px 40px 50px -30px rgba(56, 41, 224, 0.25);
}
.order-summary-card img.order-summary-pic {
  max-width: 100%;
  height: auto;
}

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.875rem 3rem;
}

.order-summary-details {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1.875rem;
}
.order-summary-details p {
  margin: 0;
}
.order-summary-details p.change-plan {
  flex-grow: 1;
  text-align: right;
  font-size: 0.875rem;
  font-weight: 900;
}
.order-summary-details p.change-plan a {
  color: hsl(245, 75%, 52%);
}
.order-summary-details p.change-plan a:hover {
  color: rgba(56, 41, 224, 0.65);
  text-decoration: none;
}

button.proceed {
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1rem;
  border-radius: 0.75rem;
  margin-bottom: 1.75rem;
  box-shadow: 0px 10px 20px rgba(56, 41, 224, 0.25);
}

button.proceed:hover {
  background-color: rgba(56, 41, 224, 0.65);
  cursor: pointer;
}

p.cancel {
  text-align: center;
  margin-bottom: 0rem;
}
p.cancel a {
  font-weight: 700;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}
p.cancel a:hover {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 500px) {
  html {
    font-size: 15px;
  }
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }
  h1,
  h2,
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  h4 {
    margin: 0;
  }
  .order-summary {
    padding: 1.5rem;
    padding-top: 2.1rem;
    padding-bottom: 0.5rem;
  }
  .order-summary > p {
    padding: 0rem 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.375rem;
  }
  .order-summary-details {
    gap: 0.5rem;
    padding: 1.25rem 1.125rem;
    margin-bottom: 1.25rem;
  }
  .order-summary-details p {
    margin: 0;
  }
  .order-summary-details .order-summary-data {
    padding: 0.125rem 0.7rem;
  }
  button.proceed {
    padding: 1.1rem;
    margin-bottom: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
